body{
box-sizing: border-box;
background-color: #ffb366;
}
.loading{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ffb366;
  border-bottom: 16px solid #ffb366;
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.app-container{
  display: flex;
  flex-direction: row;
}
.search-input{
  flex: 30%;
  font-size: 12px;
  background-color: aliceblue;
 padding: 20px;
}
.output-section{
  flex:50%;
  width: 100%;
  text-align: start;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .app-container {
    flex-direction: column;
  }
}